// Required
$theme-colors: (
  primary: #2c3e50,
  secondary: #3498db,
  grey: #d9d9d9,
  dark: #838080,
  point: #f39c12,
);

@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-vue-next/dist/bootstrap-vue-next.css";
@import "bootstrap";
